body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  background-color: #3C3D3F;
  justify-content: center;
  position: relative;
}

main {
  flex: 1;
  min-height: 0;
  display: flex;
}

.add-background {
  background-image: url("kissPic.png");
  background-size: 100px;
}

.visible {
  visibility: visible !important;
}

.myText {
  font-size: xxx-large;
  font-weight: 700;
  color: white;
  position: absolute;
  text-align: center;
  width: 100%;
  top: 50px;
  visibility: hidden;
}

.container {
  width: 80%;
  height: 150px;
  background-color: transparent;
  margin: auto;
  display: flex;
}

.separators {
  display: flex;
  flex-direction: column;
}

.separator1{
  flex: 1;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin: 25px 0;
}

.separator2{
  flex: 1;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin: 25px 0;
}

.clock-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  margin: 5px;
  background-color: white;
  border-radius: 20%;
  border: 1px solid white;
  -webkit-border-radius: 20%;
  -moz-border-radius: 20%;
  -ms-border-radius: 20%;
  -o-border-radius: 20%;
  > p {
    margin: auto;
    font-size: xxx-large;
    font-weight: 700;
  }
}
